<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="nav nav-tabs">
                <li class ="nav-item">
                    <a href="http://192.168.56.101/EasyFood/public/index.php"><img src="{{  asset('img/logo.png') }}"alt ="ACME logo" width="50" height="50">
                        </li>
                    
                <li class="nav-item ">
                    
                    <a class="nav-link" href="{{ path('liste_TypePlat') }}">Type PLats</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('liste_Plat') }}"> PLats</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('liste_commande') }}"> Passer Commande</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('liste_evaluer') }}"> Evaluer</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('liste_utilisateur') }}"> Utilisateur</a>
                </li>

                

            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>